# Ignore the build directory
/cmake-build/


# Ignore the generated code
/src/DecafGrammar/generated/

# Ignore the output files
/output/

# Ignore CMake cache and temporary files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and other temp files
*.log
*.tmp
*.txt

# Ignore asm and exc
*.s
exc